#profile{
    width: 150px ;
    height: 150px ;
    border-radius: 50%;
    background-color: purple;
    border-top: 3px solid red;
    border-bottom: 3px solid green ;
    border-left:  3px solid yellow;
    border-right: 3px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: 700;
}   